<script type="text/javascript">
  <% if signed_in? %>
  window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe%>
  <% end %>
</script>

<script src="https://use.fontawesome.com/ead056a3a4.js"></script>

<div className="background-img"/>
</div>
  <div id="root">
</div>
