@import '../application.scss';

.pin {
  &-container {
    @include flex-column;
    min-width: 500px;
    height: 100%;
  }
}

.pin-body {
  &-container {
    @include flex-row;
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  &-user-container {
    width: 100px;
    @include flex-center;
    @include flex-column;
  }
  &-profile-thumbnail {
    width: 90px;
    &:hover {
      cursor: pointer;
    }
  }
  &-body-container {
    flex-grow: 1;
    @include flex-center;
    padding-left: 50px;
  }
}

.pin-image {
  &-container {
    width: 100%;
  }
  &-image {
    min-width: 100%;
  }
}

.pin-header {
  &-title-link-container {
    @include flex-row;
    align-items: center;
  }
  &-title {
    font-size: 30px;
  }
  &-board-name {
    font-size: 30px;
  }
}

.pin-header-edit-modal {
  &-form {
    @include flex-column;
    justify-content: space-around;
    height: 330px;
  }
}
