@import '../mixins.scss';

.profile-board-tab {
  &-button {
    width: 340px;
    height: 380px;
    @include flex-center;
    border: 2px solid black;
    border-radius: 30px;
    margin: 30px;
    &:hover {
      cursor: pointer;
    }
  }
  &-container {
    @include flex-row;
    @include flex-center;
  }
}

.profile-tabs-section {
  &-button-container {
    @include flex-row;
    @include flex-center;
  }
  &-button-underbar {
    width: 90vw;
    border-bottom: 2px solid black;
    @include flex-center;
    padding-bottom: 20px;
  }
}

.profile-board-tab-icon {
  &-image {
    // padding: 10px;
    max-width: 100%;
    max-height: 100%;
  }
  &-horizontal-container {
    @include flex-center;
    flex-direction: row;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
    margin: 10px;
  }
  &-last-container {
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
    margin: 10px;
  }
  &-last-image {
    width: 100%;
  }
  &-image-container {
    padding: 5px;
  }
  &-name {
    @include flex-center;
    font-size: 20px;
  }
}
