@import '../mixins.scss';

.profile-board-tab {
  &-button {
    width: 300px;
    height: 300px;
  }
  &-container {
    @include flex-row;
  }
}

.profile-board-tab-icon {
  &-image {
    height: 100px;
  }
}
