@import '../application.scss';

.pin-tile-container {
  @include flex-column;
  float: left;
  border-radius: 10px;
  margin: 15px;
  border: 3px solid $color-light-black;
  border-radius: 15px;
  max-width: 300px;
  min-width: 300px;
  transition:opacity 300ms ease-in-out;
  animation-timing-function: cubic-bezier(0.1, 0.8, 0.1, 1.000);
  &-hide {
    opacity: 0;
    border: 3px solid transparent;
    margin: 15px;
  }
}

.pin-tile-content {
  @include flex-row;
  height: 90px;
  background-color: $white;
  flex-grow: 1;
  min-height: 90px;
  border-radius: 40px;
}

.pin-tile-author-container {
  @include flex-center-align;
  flex-direction: column;
  padding: 10px 20px 0px 10px;
  overflow-x: visible;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.pin-tile-author-profile-picture {
  height: 50px;
}

.pin-tile-author-profile-picture:hover {
  cursor: pointer
}

.pin-tile-author-name {
  color: $color-primary;
  font-size: 18px;
  display: inline-block;
}

.board-pin-author-button {
  color: $color-primary;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

.board-pin-author-button:hover {
  background-color: transparent;
}

.pin-tile-information-container {
  @include flex-center-justify;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 30px;
  padding-right: 8px;
  word-wrap: break-word;
}

.pin-tile-title {
  margin-top: 15px;
  font-size: 16px;
  font-weight: normal;
  margin-right: 10px;
  max-width: 150px;
}

.pin-tile-body {
  margin-top: 10px;
  font-size: 15px;
}
