@import '../application.scss';

.newPinModal {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  overflow-y: scroll !important;
  padding: 1px;
  width: auto;
  max-width: 60%;
  max-height: 100vh;
  min-width: 500px;
  padding: 30px 40px 30px 40px !important;
  background-color: white;
  border-radius: 7px !important;
  border: solid 2px;
  border-color: #d7432d;
}

.pin-new-add-a-new-pin-text-container{
  @include flex-center-justify-align;
  font-size: 35px;
  color: $color-light
}

// .newPinModal::-webkit-scrollbar {
//     top: 10px;
//     width: 4px;
//     border-radius: 30px;
// }
//
// .newPinModal::-webkit-scrollbar-track {
//   // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     border-radius: 15px;
// }
//
// .newPinModal::-webkit-scrollbar-thumb {
//   background-color: rgba($color-light, 0.7);
//   border-radius: 30px;
// }

.pin-new-content-in-box {
  @include flex-center-justify;
  flex-direction: row;
  margin-top: 20px;
}

.pin-board-new-user-input {
  @include flex-center-align;
  flex-direction: column;
  margin-left: 30px;
}

.pin-new-image-drop {
  @include flex-center-justify-align;
  min-width: 25vw;
  border: 2px dashed $color-primary;
  max-width: 600px;
  @include transition;
  &-hide {
    border: 0px;
    @include flex-center-justify-align;
  }
}

.new-pin-modal{
  @include flex-row;
  height: 640px;
  width: 410px;
  padding-top: 30px !important;
}

.new-pin-form-container {
  @include flex-column;
  justify-content: space-between;
}

.new-pin-form {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-pin-textarea {
  width:300px;
  height:80px;
  max-width: 300px;
  max-height:80px;
  border-color: $color-light
}

.click-to-upload button {
  width: 100%;
  background-color: white;
  color: #d7432d;
  border: dashed 2px;
  border-color: #d7432d;
}

.click-to-upload button:hover {
  width: 100%;
  background-color: white;
  color: #d7432d;
  border: dashed 2px;
  border-color: #d7432d;
}

.original-filename {
  @include flex-center-justify-align;
}

.pin-new-add-board-text {
  margin-left: 15px;
}

.new-pin-error-text {
  color: red;
  margin: 5px 0px 5px 0px;
  font-size: 20px;
}

.pin-new-image-preview {
  @include flex-center-justify-align;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-color: $color-primary;
  max-height: 50vh;
}

.pin-new-image-empty {
  @include flex-center-justify-align;
  overflow: hidden;
  width: 25vw;
  text-align: center;
  vertical-align: middle;
  border-color: $color-primary;
  background-color: transparent;
  height:100%;
}

.upload-text {
  margin-left: 10px;
  height: 400px;
  width: 400px;
  background-color: white;
  color: #d7432d;
  font-size: 25px;
  z-index: -1;
}

.image-preview img {
  height: 180px !important;
  width: 180px !important;
  max-height: 400px !important;
  max-width: 400px !important;
  margin: 0 auto;
  border: none;
}

.upload-mini-text {
  color: #d7432d;
  font-size: 20px;
}

.new-pin-image-preview {
  width: 500px;
  height: auto;
}

.new-pin-board-select-dropdown {
  width: 100%;
  background: transparent;
  border: 0px solid transparent;
  border-bottom: 2px solid $color-light;
  margin-top: 30px;
  font-size: 15px;
  outline: none;
}

.new-pin-form-button-container {
  @include flex-row;
  margin-top: 20px;
  width: 40%;
  justify-content: space-between;
}

.pin-new-add-board-container {
  @include flex-center-justify-align;
  background-color: transparent;
  flex-direction: column;
  height: 75px;
  margin-top: 30px;
}

.pin-new-add-board-button {
  @include flex-center-justify-align;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: $color-primary;
  border: 3px solid rgba(0, 0, 0, 0.08);
  font-size: 20px;
}

.pin-new-add-board-button:hover {
  background-color: white;
  filter: brightness(92%);
  border: 3px solid rgba(black, 0.08);
}
