@import '../application.scss';

.modal-container {
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  overflow-y: scroll;
  width: 30vw;
  max-width: 600px;
  min-width: 450px;
  background-color: $color-light-white;
  border-radius: 8px;
  border: solid 2px;
  border-color: $color-primary;
  max-height: 80vh;
}

.pin-show-edit-button-container {
  margin-left: 15px;
}

.ReactModal__Overlay {
  z-index: 200 !important;
}

.pin-author-button {
  color: $color-primary;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
}

.pin-author-button:hover {
  background-color: transparent;
}

.pin-modal-image {
  width:100%;
  height: auto;
  overflow-y: scroll;
}

.pin-show-author-name-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ReactModal__Content::-webkit-scrollbar {
    top: 10px;
    width: 4px;
    border-radius: 30px;
}

.ReactModal__Content::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 15px;
}

.ReactModal__Content::-webkit-scrollbar-thumb {
  background-color: rgba($color-light, 0.7);
  border-radius: 30px;
}

.pin-show-description-user-container {
  display: block;
  height: auto;
  flex-direction: row;
  padding: 0px 0px 50px 0px;
}

#pin-edit-icon {
  padding: 0px;
  margin-left: 3px;
  padding: 1px 3px 1px 3px;
  margin-top: 10px;
  background-color: white;
  color:#d7432d;
}

#pin-title {
  font-size: 33px
}

#pin-body {
  font-size: 25px;
}

.pin-show-board-name{
  font-size: 30px;
  color: $color-primary;
  background-color: transparent;
  margin-right: 10px;
  padding: 0px
}

.pin-show-board-name:hover{
  background-color: transparent;
}

.pin-show-pin-info-save-button-container {
  display: flex;
  flex-direction: row;
}

.pin-show-user-name-picture-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  white-space: nowrap;
}
.pin-show-board-name-edit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pin-show-description-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.edit-modal-cog {
  color: rgba(black, 0.4);
}

.edit-modal-cog:hover {
  transition: 0.1;
  color: rgba(black, 1);
  cursor: pointer;
}

.pin-show-profile-picture {
  width: 75px;
}

.pin-show-description-container {
  margin-left: 30px;
  font-size: 20px;
}

.image-container {
  padding-bottom: 40px;
}

.pin-show-profile-picture:hover {
  cursor: pointer;
}

.pin-show-modal-content-container {
  display: flex;
  // position: fixed;
  flex-direction: column;
  min-width: 90%;
  height: 75vh;
  // overflow-y:scroll;
}

.pin-show-modal-content-container::-webkit-scrollbar {
    top: 10px;
    width: 4px;
    border-radius: 30px;
}

.pin-show-modal-content-container::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 15px;
}

.pin-show-modal-content-container::-webkit-scrollbar-thumb {
  background-color: rgba($color-light, 0.7);
  border-radius: 30px;
}

.pin-show-header-container {
  margin-bottom: 10px;
}
