/*
 * This is a manifest file thatll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugins vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import './mixins.scss';
$color-primary: #3b93db;
$color-light: rgba(#3b93db, 0.8);
$color-lightest: rgba(#3b93db, 0.5);
$color-light-black: rgba(black, .08);
$color-black: rgba(black, .7);
$color-light-white: rgba(white, .9);
$color-dark: #133253;
$color-darkest: #041D37;
$color-test: rgba(#4f4f4f, 0.7);
$color-almost-white: #dcebfc;
$color-green: rgba(#18b50d, 0.7);
$white: white;
$background: white;
$color-test: rgba(black, 0.05);

#root{
  width: 98vw;
  height: 99vh;
  position: absolute;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $color-primary;
  font-size: 20px;
  &:hover {
    transition: 200ms;
    color: $color-light;
    cursor: pointer;
  }
}

body {
  background-color: $background;
  position: absolute;
  height: 100%;
  font-family: 'arial';
  overflow-x: hidden;
  font-size: 20px;
}

body::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba($color-primary, 0.5);
  outline: 1px rgba($color-primary, 0.5)
}

img {
  max-width:100%;
  max-height:100%;
}

.ReactModalPortal {
  height: 1px !important;
}

textarea {
  margin-top: 8px;
  font-size: 15px;
  border: solid 2px;
  border-color: $color-light;
  font-family: 'arial';
  color: black;
  height: 100px;
  background-color: rgba(white, 0.6);
}

button {
  outline: none;
  padding: 10px 15px 10px 15px;
  background-color: $color-light;
  border: 4px;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 0px;
  color: $white;
  font-weight: normal;
  z-index: 100;
  flex-wrap: wrap;
  font-size: 20px;
}

button:hover {
 background-color: $color-lightest;
 // background-color: #b0eb00;
 color: $color-dark;
 transition: 0.25s;
 cursor: pointer;
 border: 2px;
 border-color: white;
}

::-moz-selection {
    color: #f05959;
    background: #fff2f2;
}

::selection {
    color: #f05959;
    background: #fff2f2;
}

.clickable-image:hover {
  cursor: pointer;
}

 label{
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

li {
  list-style-type: none;
}

input {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-color: $color-primary;
  outline: none;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 17px;
  width: 80%;
  color: black;
  padding-left: 10px;
  padding-bottom: 4px;
  z-index: 100;
  background-color: transparent;
  margin-bottom: 20px;
}

option {
  background-color: rgba(#dcebfc, 0.8);
  text-align: center;
  font-size: 15px;
}

.dont-break-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.hidden {
  opacity: 0;
  @include long-transition;
  // z-index: -10
}

.visible {
  opacity: 1;
  @include long-transition;
  z-index: 0;
}

.hidden-text {
  font-size: 0px;
}
