/*
 * This is a manifest file thatll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugins vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$color-primary: #3b93db;
$color-light: rgba(#3b93db, 0.8);
$color-lightest: rgba(#3b93db, 0.5);
$color-light-black: rgba(black, .08);
$color-light-white: rgba(white, .9);
$color-dark: #133253;
$color-darkest: #041D37;
$color-test: rgba(#4f4f4f, 0.7);
$color-almost-white: #dcebfc;
$color-green: rgba(#18b50d, 0.7);
$white: white;
$background: white;
$color-test: rgba(black, 0.05);

@mixin flex-center-justify() {
  display: flex;
  justify-content: center;
}

@mixin flex-center-align() {
  display: flex;
  align-items: center;
}

@mixin flex-center-justify-align() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin transition() {
  transition: opacity 200ms ease-in-out;
  animation-timing-function: cubic-bezier(0.1, 0.8, 0.1, 1.000);
}

@mixin absolute-center() {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#root{
  width: 100vw;
  height: 99vh;
  position: absolute;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  // width: 100vw;
  position: absolute;
  height: 100%;
  font-family: 'GlacialIndifferenceRegular';
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba($color-primary, 0.5);
  outline: 1px rgba($color-primary, 0.5)
}

img {
  max-width:100%;
  max-height:100%;
}

.ReactModalPortal {
  height: 1px !important;
}

textarea {
  margin-top: 8px;
  font-family: 'GlacialIndifferenceRegular';
  font-size: 20px;
  border: solid 2px;
  border-color: $color-light;
  color: black;
  background-color: rgba(white, 0.6);
}

button {
  font-family: 'GlacialIndifferenceRegular';
  outline: none;
  padding: 10px 15px 10px 15px;
  background-color: $color-light;
  border: 4px;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 0px;
  color: $white;
  font-weight: normal;
  z-index: 100;
  flex-wrap: wrap;
  font-size: 20px;
}

button:hover {
 background-color: $color-lightest;
 // background-color: #b0eb00;
 color: $color-dark;
 transition: 0.25s;
 cursor: pointer;
 border: 2px;
 border-color: white;
}

::-moz-selection {
    color: #f05959;
    background: #fff2f2;
}

::selection {
    color: #f05959;
    background: #fff2f2;
}

.clickable-image:hover {
  cursor: pointer;
}

 label{
   font-family: 'GlacialIndifferenceRegular' !important;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

li {
  font-family: 'GlacialIndifferenceRegular';
  list-style-type: none;
}

input {
  font-family: 'GlacialIndifferenceRegular';
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-color: $color-primary;
  outline: none;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 80%;
  color: black;
  padding-left: 10px;
  padding-bottom: 4px;
  z-index: 100;
  background-color: transparent;
  margin-bottom: 20px;
}

option {
  background-color: rgba(#dcebfc, 0.8);
  text-align: center;
  font-size: 15px;
}

.dont-break-container {
  font-family: 'GlacialIndifferenceRegular';
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.hidden-text {
  font-size: 0px;
}
