@import '../application.scss';

.board-tile {
  &-container {
    @include flex-column;
    @include flex-center;
    max-width: 300px;
    min-width: 300px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    min-height: 300px;
  }
  &-image {
    width: 300px;
  }
}

.board-tile-body {
  &-container {
    @include flex-row;
    justify-content: flex-start;
    width: 260px;
    padding: 15px 20px 15px 20px;
    flex-grow: 1;
  }
  &-description {
    padding: 10px;
    @include flex-center;
  }
  &-profile-icon {
    max-width: 50px;
  }
}

.board-header {
  &-container {
    width: 99vw;
    @include flex-column;
    @include flex-center;
  }
  &-underbar {
    width: 80%;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
  }
  &-name {
    @include flex-center;
    font-size: 40px;
    padding-bottom: 10px;
  }
  &-username {
    @include flex-center;
    font-size: 20px
  }
}
