.homepage-welcome{
  position:fixed;
  margin: auto;
  width: 550px;
  min-width: 550px;
  top: 3px; left: 0; bottom: 0; right: 0;
    font-size: 40px;
  z-index:-1;
  color: white;
  height: 50px;
  margin: 0 auto;
}
