@import '../application.scss';

.image-preview {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 2px;
  border-color: $color-primary;
}

.user-profile-update-picture-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.user-profile-edit-container {
  display: flex;
  flex-direction: row;
  align-items: center
}

.user-profile-edit-image-preview {
  width: 180px;
  height: 180px;
  border: 2px dashed $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-size: 100%;
}

.user-profile-description-textarea {
  min-height: 180px;
  min-width: 500px;
  max-height: 180px;
  max-width: 500px;
}

.user-profile-edit-image-dropzone-text {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  z-index: -1;
}

.user-profile-edit-form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.user-profile-edit-submit-button {
  margin-top: 30px;
  width: 60px;
  display: flex;
  flex-direction: row;
}

.dropzone-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
