@import '../application.scss';

.followers-icon {
  @include flex-center-justify-align;
  flex-direction: column;
}

.follow-username {
  padding-bottom: 50px;
}

.follow-user-button {
  @include flex-center-justify-align;
  border-radius: 600px;
  width: 110px !important;
  height: 110px !important;
  padding: 4px;
  margin: 20px;
}
