@import '../application.scss';

.image-preview {
  @include flex-center-justify-align;
  width: 180px;
  height: 180px;
}

.user-profile-update-picture-modal {
  @include flex-center-justify-align;
  padding: 40px;
}

.user-profile-edit-container {
  @include flex-center-align;
  flex-direction: row;
}

.user-profile-edit-image-preview {
  @include flex-center-justify-align;
  width: 180px;
  height: 180px;
  background-color: transparent;
  background-size: 100%;
}

.user-profile-edit-image-preview {
  border: 0px;
}

.user-profile-description-textarea {
  min-height: 180px;
  min-width: 500px;
  max-height: 180px;
  max-width: 500px;
}

.user-profile-edit-image-dropzone-text {
  @include flex-center-justify-align;
  text-align: center;
  z-index: -1;
}

.user-profile-edit-form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.user-profile-edit-submit-button {
  @include flex-row;
  margin-top: 30px;
  width: 60px;
}

.dropzone-image-container {
  @include flex-center-justify-align;
  margin-bottom: 20px;
}
