@import '../application.scss';

.user-profile {
  // display: flex;
  // width: 99vw;
  // height: 97vh;
  // position: absolute;
  // margin-left: -8px;
  // flex-direction: column;
  // align-items: flex-start;
  // background-color: transparent;
  // z-index: -2;
}
.profile-button-text-container {
  display: flex;
  flex-direction: column;
}

.user-profile-body {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 38vh;
  background-color: transparent;
  width: 100%;
  margin-top: 110px;
}

.user-profile-buttons-bar-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.user-profile-buttons-bar {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: center;
  align-items: flex-end;
  width: 90vw;
  height:55px;
  bottom: 301px;
  z-index: 1;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.user-profile-buttons button {
  margin-left: 100px !important;
}

.board-pin-underbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.edit-user-button {
  padding: 8px 6px 8px 6px;
  font-size: 22px;
  border-radius: 30px;
  font-weight: normal;
  z-index: 0;
  color: $color-primary;
  background-color: transparent;
  margin: 0px;
}

.edit-user-button:hover {
  background-color: transparent;
}


.user-info {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 65%;
  background-color: transparent;
  width: 45vw;
  min-width: 400px;
}

.user-profile-description-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  font-size: 25px;
  width: 55vw;
  height: 60%
}

.user-profile-description {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
  font-size: 25px;
  padding-right: 10vw;
  min-width: 600px;
}

.user-profile-username {
  font-size: 50px;
  display: flex;
  padding-bottom: 20px;
}

.follow-button {
  display: block;
  margin-bottom: 40px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.username-image {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 20px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  min-width: 175px;
  min-height: 175px;
}

.profile-email {
  font-size: 20px;
  color: #705858;
}

.board-pin-underbar::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
    z-index: 100;
}

.board-pin-underbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    z-index: 100;
}

.board-pin-underbar::-webkit-scrollbar-thumb {
  background-color: #d7432d;
  outline: 1px solid #d7432d;
  z-index: 100;
}


.user-profile-board-pins {
    position: relative;
    background-color: transparent;
    width: 100vw;
}

.tab-block{
  display: flex;
  flex-direction: row;
  width: 60px;
  margin-left: 20px;
}

.profile-tab-button-active {
  padding: 12px 10px 12px 10px;
  font-size: 20px;
  border-radius: 30px;
  font-weight: normal;
  z-index: 0;
  background-color: $color-lightest;
  color: black;
}

.profile-tab-button-active:hover {
  padding: 12px 10px 12px 10px;
  border-radius: 30px;
  font-weight: normal;
  z-index: 0;
  background-color: $color-lightest;
  color: black;
}

.profile-tab-button-inactive {
  padding: 12px 10px 12px 10px;
  font-size: 20px;
  border-radius: 30px;
  font-weight: normal;
  z-index: 0;
  background-color: transparent;
  color: black;
}


.profile-tab-button-inactive:hover {
  padding: 12px 10px 12px 10px;
  border-radius: 30px;
  font-weight: normal;
  z-index: 0;
  background-color: $color-lightest;
  color: black;
}

.profile-follow-button {
  padding: 8px 6px 8px 0px;
  margin-right: 20px;
  font-size: 28px;
  border-radius: 30px;
  font-weight: normal;
  z-index: 0;
  background-color: transparent;
  color: $color-primary;
  margin: 0px;
  width: 100px;
}

.profile-follow-button:hover {

  background-color: transparent;

}

.user-profile-pins {
  max-height: 400px;
  min-height: 300px;
  max-width: 400px;
  min-width: 300px;
  background-color: white;
  border: solid #8c5d5d;
  border-size: 15px;
}

.user-profile-pins:hover {
  border: solid #d7432d;
  border-size: 15px;
}

.user-profile-buttons {
  position: static;
  bottom: 0px;
  width: 100%;
}

.user-profile-board-button {
  display: flex;
  width: 260px;
  height: 260px;
  background-color: white;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #d7432d;
  border-radius: 10px;
  border: 3px solid transparent;
  margin-right: 0px;
  align-items: center;
}

.user-profile-board-button:hover {
  display: flex;
  width: 260px;
  height: 260px;
  background-color: white;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #d7432d;
  border-radius: 10px;
  border: 3px solid transparent;
  margin-right: 0px;
}

.user-profile-board-images{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-profile-board-images:hover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-profile-sub-image-board-pin-container {
  min-width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 215px;
  height: 100%;
  overflow:hidden;
  margin-top: 4px;
}

.sub-image-single-pic-container {
  width: 100px;
  height: auto;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 12px;
}

.user-profile-main-image-board-pin {
  overflow:hidden;
  background-position: center;
}

.user-profile-first-pic-container {
  overflow:hidden;
  background-position: center;
  width: 215px;
  max-height: 107px;
  min-height: 107px;
}

.user-profile-sub-image-board-pin {

}

.board-button-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 3px solid rgba(black, 0.08);
  padding: 10px 10px 10px 10px;
  margin: 30px 10px 0px 10px;
  border-radius: 15px;
}

.board-button-set:hover {
  background-color: white;
  filter: brightness(92%);
  border: 3px solid rgba(black, 0.08);
  cursor: pointer;
}

.board-title {
  font-size: 20px;
  font-weight: normal;
  color: $color-primary
}
.board-title:hover {
  cursor: pointer;
}
//
// .user-profile-board-show {
//   width:100%;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   z-index: 1;
//   margin: 0 auto;
// }

.board-title-invisible {
  opacity: 0;
  font-size: 19px;
}

.user-profile-boards-container {
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
// user-profile-board-pins
.add-new-board-container {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-new-board-text {
  font-size: 20px;
  color: $color-primary;
  font-weight: normal;
  margin-left: 20px;
}

.fa-plus {
  color: $color-primary;
}


.follow-button-image {
  margin-top: -6px;
  min-width: 100px;
  min-height: 100px;
  margin-bottom: 10px;
}

.user-profile-main-image-board-pin:hover {
  // margin: 10px 15px 10px 15px;
}

.user-profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-user-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
